.animated-intera-690057bd-0b21- {
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.animated-intera-690057bd-0b21-,
.animated-intera-690057bd-0b21-parent,
.frame-child {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.frame-child {
  background-color: rgba(217, 217, 217, 0.28);
  z-index: 1;
}
.animated-intera-690057bd-0b21-parent {
  margin: 0 !important;
}
.title-background {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-xl);
  background-color: rgba(217, 217, 217, 0.68);
  width: 793px;
  z-index: 2;
}
.a-case-study {
  margin: 0;
}
.for-seniors {
  margin: 0;
  white-space: pre-wrap;
}
.a-case-study-container {
  margin: 0;
  position: absolute;
  top: 12px;
  left: 0;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  width: 824px;
  height: 123px;
  z-index: 3;
}
.title-background-parent {
  height: 147px;
  flex: 1;
  position: relative;
  max-width: 100%;
}
.case-study-page-1-inner {
  width: 844px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
  text-align: left;
  font-size: 35px;
  color: var(--color-black);
  font-family: var(--font-potta-one);
}
.this-case-study {
  height: 41px;
  width: 212px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  z-index: 4;
}
.this-case-study-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-25xl);
}
.image-12-icon,
.image-6-icon {
  position: absolute;
  top: 321px;
  left: 52px;
  width: 289px;
  height: 274px;
  object-fit: contain;
  z-index: 2;
}
.image-12-icon {
  top: 0;
  left: -88px;
  width: 569.8px;
  height: 413.7px;
  z-index: 3;
}
.image-6-parent {
  height: 569px;
  width: 481.8px;
  position: absolute;
  margin: 0 !important;
  right: -110.8px;
  bottom: -439px;
}
.explores-how-sanjay,
.prioritizing-ease-of {
  display: block;
}
.explores-how-sanjay-container {
  margin: 0;
  height: 160px;
  flex: 1;
  position: relative;
  display: inline-block;
  z-index: 4;
}
.frame-container {
  align-self: stretch;
  flex-direction: row;
  position: relative;
}
.case-study-page-1-child,
.frame-container,
.frame-group {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-group {
  width: 316px;
  flex-direction: column;
}
.case-study-page-1-child {
  align-self: stretch;
  flex-direction: row;
  padding: 0 52px 272px;
  text-align: left;
  font-size: var(--font-size-3xl);
  color: var(--color-black);
  font-family: var(--font-preahvihear);
}
.frame-item {
  height: 55px;
  width: 90px;
  position: relative;
  cursor: pointer;
  z-index: 2;
}
.frame-div {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-12xl);
}
.case-study-page-1 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-xl) var(--padding-10xs) var(--padding-4xl);
  box-sizing: border-box;
  gap: 89px;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 750px) {
  .a-case-study-container {
    font-size: 28px;
  }
}
@media screen and (max-width: 675px) {
  .case-study-page-1 {
    gap: 44px;
  }
}
@media screen and (max-width: 450px) {
  .a-case-study-container {
    font-size: 21px;
  }
  .this-case-study {
    font-size: var(--font-size-lg);
  }
  .this-case-study-wrapper {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .explores-how-sanjay-container {
    font-size: var(--font-size-lg);
  }
  .case-study-page-1-child {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .case-study-page-1 {
    gap: 22px;
  }
}
