.module-child10,
.module-child11 {
  height: 768px;
  width: 219.3px;
  position: relative;
  background-color: var(--color-gainsboro);
  display: none;
  z-index: 1;
}
.module-child11 {
  height: 49.4px;
  width: 196.2px;
  border-radius: var(--br-mini);
  background-color: var(--color-white);
  z-index: 2;
}
.case-studies4,
.courses3,
.home4,
.tools3 {
  height: 32.9px;
  position: relative;
  display: none;
}
.home4 {
  width: 175.6px;
  font-weight: 500;
  flex-shrink: 0;
  z-index: 3;
}
.case-studies4,
.courses3,
.tools3 {
  z-index: 4;
}
.case-studies4,
.tools3 {
  width: 175.6px;
  flex-shrink: 0;
  z-index: 5;
}
.tools3 {
  z-index: 6;
}
.darhboard-child10,
.darhboard-child11,
.darhboard-child12,
.darhboard-child9 {
  position: absolute;
  height: 33.33%;
  width: 33.33%;
  top: 12.5%;
  right: 54.17%;
  bottom: 54.17%;
  left: 12.5%;
  border-radius: var(--br-12xs);
  border: 2px solid var(--line-icon);
  box-sizing: border-box;
}
.darhboard-child10,
.darhboard-child11,
.darhboard-child12 {
  top: 54.17%;
  bottom: 12.5%;
}
.darhboard-child11,
.darhboard-child12 {
  right: 12.5%;
  left: 54.17%;
}
.darhboard-child12 {
  top: 12.5%;
  bottom: 54.17%;
}
.darhboard3,
.finverse3,
.sertificate-icon3 {
  height: 24px;
  width: 24px;
  position: relative;
  display: none;
  z-index: 7;
}
.finverse3,
.sertificate-icon3 {
  z-index: 8;
}
.finverse3 {
  height: 42.1px;
  width: 184.4px;
  font-size: var(--font-size-11xl);
  line-height: 42.1px;
  font-weight: 500;
  text-align: center;
  flex-shrink: 0;
  z-index: 9;
}
.frame-child2,
.logo1 {
  position: absolute;
  left: 0;
}
.frame-child2 {
  top: 0;
  border-radius: var(--br-11xl);
  background-color: var(--color-whitesmoke-200);
  width: 50.8px;
  height: 46.5px;
}
.logo1 {
  top: 16.4px;
  font-weight: 300;
  display: inline-block;
  width: 52.3px;
  height: 18.9px;
}
.rectangle-container {
  height: 46.5px;
  width: 52.3px;
  position: relative;
  display: none;
  z-index: 10;
  text-align: center;
  font-size: var(--font-size-3xs);
}
.community3,
.games3 {
  width: 175.6px;
  flex-shrink: 0;
}
.games3 {
  height: 32.9px;
  position: relative;
  display: none;
  z-index: 11;
}
.community3 {
  z-index: 12;
}
.community3,
.profile1,
.sertificate-icon4,
.settings3 {
  height: 32.9px;
  position: relative;
  display: none;
}
.profile1 {
  width: 170.6px;
  flex-shrink: 0;
  z-index: 13;
}
.sertificate-icon4,
.settings3 {
  z-index: 14;
}
.sertificate-icon4 {
  height: 24px;
  width: 24px;
  z-index: 15;
}
.chat-alt-3-icon2,
.vector-icon7 {
  height: 12.5px;
  width: 18.9px;
  position: relative;
  display: none;
  z-index: 16;
}
.chat-alt-3-icon2 {
  height: 24px;
  width: 24px;
  object-fit: contain;
  z-index: 17;
}
.book-duotone-icon2,
.book-open-alt-icon1,
.setting-line-icon2 {
  height: 24px;
  width: 24px;
  position: relative;
  display: none;
  z-index: 18;
}
.book-duotone-icon2,
.setting-line-icon2 {
  z-index: 19;
}
.setting-line-icon2 {
  object-fit: contain;
  z-index: 20;
}
.log-out3 {
  height: 32.9px;
  width: 175.6px;
  position: relative;
  display: none;
  flex-shrink: 0;
  z-index: 21;
}
.sign-out-squre-icon3 {
  height: 24px;
  width: 24px;
  position: relative;
  display: none;
  z-index: 22;
}
.design {
  height: 768px;
  width: 219.3px;
  position: absolute;
  margin: 0 !important;
  top: -9.3px;
  left: 0;
  background-color: var(--color-gainsboro);
  z-index: 3;
}
.module-child12 {
  height: 49.4px;
  width: 196.2px;
  position: relative;
  border-radius: var(--br-mini);
  background-color: var(--color-white);
  display: none;
  z-index: 24;
}
.case-studies5,
.courses4,
.home5,
.tools4 {
  height: 32.9px;
  position: relative;
  display: none;
}
.home5 {
  width: 175.6px;
  font-weight: 500;
  flex-shrink: 0;
  z-index: 25;
}
.case-studies5,
.courses4,
.tools4 {
  z-index: 26;
}
.case-studies5,
.tools4 {
  width: 175.6px;
  flex-shrink: 0;
  z-index: 27;
}
.tools4 {
  z-index: 28;
}
.darhboard-child13,
.darhboard-child14,
.darhboard-child15,
.darhboard-child16 {
  position: absolute;
  height: 33.33%;
  width: 33.33%;
  top: 12.5%;
  right: 54.17%;
  bottom: 54.17%;
  left: 12.5%;
  border-radius: var(--br-12xs);
  border: 2px solid var(--line-icon);
  box-sizing: border-box;
}
.darhboard-child14,
.darhboard-child15,
.darhboard-child16 {
  top: 54.17%;
  bottom: 12.5%;
}
.darhboard-child15,
.darhboard-child16 {
  right: 12.5%;
  left: 54.17%;
}
.darhboard-child16 {
  top: 12.5%;
  bottom: 54.17%;
}
.darhboard4,
.finverse4,
.sertificate-icon5 {
  height: 24px;
  width: 24px;
  position: relative;
  display: none;
  z-index: 29;
}
.finverse4,
.sertificate-icon5 {
  z-index: 30;
}
.finverse4 {
  height: 42.1px;
  width: 184.4px;
  font-size: var(--font-size-11xl);
  line-height: 42.1px;
  font-weight: 500;
  text-align: center;
  flex-shrink: 0;
  z-index: 31;
}
.frame-child3,
.logo2 {
  position: absolute;
  left: 0;
}
.frame-child3 {
  top: 0;
  border-radius: var(--br-11xl);
  background-color: var(--color-whitesmoke-200);
  width: 50.8px;
  height: 46.5px;
}
.logo2 {
  top: 16.4px;
  font-weight: 300;
  display: inline-block;
  width: 52.3px;
  height: 18.9px;
}
.group-div {
  height: 46.5px;
  width: 52.3px;
  position: relative;
  display: none;
  z-index: 32;
  text-align: center;
  font-size: var(--font-size-3xs);
}
.community4,
.games4,
.settings4 {
  height: 32.9px;
  width: 175.6px;
  position: relative;
  display: none;
  flex-shrink: 0;
  z-index: 33;
}
.community4,
.settings4 {
  z-index: 34;
}
.settings4 {
  width: 170.6px;
  z-index: 35;
}
.setting-line-icon3 {
  height: 24px;
  width: 24px;
  position: relative;
  object-fit: contain;
  display: none;
  z-index: 36;
}
.chat-alt-3-icon3,
.vector-icon8 {
  height: 12.5px;
  width: 18.9px;
  position: relative;
  display: none;
  z-index: 37;
}
.chat-alt-3-icon3 {
  height: 24px;
  width: 24px;
  object-fit: contain;
  z-index: 38;
}
.book-duotone-icon3,
.book-open-alt-icon2,
.log-out4 {
  height: 24px;
  width: 24px;
  position: relative;
  display: none;
  z-index: 39;
}
.book-duotone-icon3,
.log-out4 {
  z-index: 40;
}
.log-out4 {
  height: 32.9px;
  width: 175.6px;
  flex-shrink: 0;
  z-index: 41;
}
.sign-out-squre-icon4 {
  height: 24px;
  width: 24px;
  position: relative;
  display: none;
  z-index: 42;
}
.module-child13,
.module-child14 {
  height: 768px;
  width: 219.3px;
  position: relative;
  background-color: var(--color-gainsboro);
  display: none;
  z-index: 43;
}
.module-child14 {
  height: 49.4px;
  width: 196.2px;
  border-radius: var(--br-mini);
  background-color: var(--color-white);
  z-index: 44;
}
.case-studies6,
.courses5,
.home6,
.tools5 {
  height: 32.9px;
  position: relative;
  display: none;
}
.home6 {
  font-weight: 500;
  z-index: 45;
}
.case-studies6,
.courses5,
.tools5 {
  width: 175.6px;
  flex-shrink: 0;
  z-index: 46;
}
.case-studies6,
.tools5 {
  z-index: 47;
}
.tools5 {
  z-index: 48;
}
.darhboard-child17,
.darhboard-child18,
.darhboard-child19,
.darhboard-child20 {
  position: absolute;
  height: 33.33%;
  width: 33.33%;
  top: 12.5%;
  right: 54.17%;
  bottom: 54.17%;
  left: 12.5%;
  border-radius: var(--br-12xs);
  border: 2px solid var(--line-icon);
  box-sizing: border-box;
}
.darhboard-child18,
.darhboard-child19,
.darhboard-child20 {
  top: 54.17%;
  bottom: 12.5%;
}
.darhboard-child19,
.darhboard-child20 {
  right: 12.5%;
  left: 54.17%;
}
.darhboard-child20 {
  top: 12.5%;
  bottom: 54.17%;
}
.darhboard5,
.finverse5,
.sertificate-icon6 {
  height: 24px;
  width: 24px;
  position: relative;
  display: none;
  z-index: 49;
}
.finverse5,
.sertificate-icon6 {
  z-index: 50;
}
.finverse5 {
  height: 42.1px;
  width: 184.4px;
  font-size: var(--font-size-11xl);
  line-height: 42.1px;
  font-weight: 500;
  text-align: center;
  flex-shrink: 0;
  z-index: 51;
}
.frame-child4,
.logo3 {
  position: absolute;
  left: 0;
}
.frame-child4 {
  top: 0;
  border-radius: var(--br-11xl);
  background-color: var(--color-whitesmoke-200);
  width: 50.8px;
  height: 46.5px;
}
.logo3 {
  top: 16.3px;
  font-weight: 300;
  display: inline-block;
  width: 52.3px;
  height: 18.9px;
}
.rectangle-parent1 {
  height: 46.5px;
  width: 52.3px;
  position: relative;
  display: none;
  z-index: 52;
  text-align: center;
  font-size: var(--font-size-3xs);
}
.community5,
.games5,
.profile2,
.settings5 {
  height: 32.9px;
  width: 175.6px;
  position: relative;
  display: none;
  flex-shrink: 0;
  z-index: 53;
}
.community5,
.profile2,
.settings5 {
  width: 170.6px;
  z-index: 54;
}
.profile2,
.settings5 {
  z-index: 55;
}
.settings5 {
  height: 30px;
  width: 175.6px;
  z-index: 56;
}
.chat-alt-3-icon4,
.sertificate-icon7 {
  height: 24px;
  width: 24px;
  position: relative;
  display: none;
  z-index: 57;
}
.chat-alt-3-icon4 {
  object-fit: contain;
  z-index: 58;
}
.book-duotone-icon4,
.book-open-alt-icon3,
.setting-line-icon4 {
  height: 24px;
  width: 24px;
  position: relative;
  display: none;
  z-index: 59;
}
.book-duotone-icon4,
.setting-line-icon4 {
  z-index: 60;
}
.setting-line-icon4 {
  object-fit: contain;
  z-index: 61;
}
.log-out5 {
  height: 32.9px;
  width: 175.6px;
  position: relative;
  display: none;
  flex-shrink: 0;
  z-index: 62;
}
.sign-out-squre-icon5 {
  height: 24px;
  width: 24px;
  position: relative;
  display: none;
  z-index: 63;
}
.home7 {
  text-decoration: none;
  height: 32.9px;
  position: relative;
  font-weight: 500;
  color: inherit;
  display: inline-block;
  cursor: pointer;
  z-index: 10;
}
.homepage {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 43px;
}
.courses6 {
  text-decoration: none;
  position: absolute;
  top: 9.8px;
  left: 43.7px;
  color: inherit;
  display: inline-block;
  width: 175.6px;
  height: 32.9px;
  cursor: pointer;
  z-index: 11;
}
.course-icon {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-mini);
  background-color: var(--color-springgreen);
  width: 100%;
  height: 100%;
  z-index: 10;
}
.vector-icon9 {
  position: absolute;
  top: 17px;
  left: 13.7px;
  width: 24px;
  height: 24px;
  z-index: 11;
}
.course-icons {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  width: 196.2px;
}
.case-studies7,
.courses-parent {
  position: relative;
  flex-shrink: 0;
  debug_commit: 69da668;
}
.courses-parent {
  align-self: stretch;
  height: 49.4px;
}
.case-studies7 {
  text-decoration: none;
  height: 32.9px;
  width: 175.6px;
  color: inherit;
  display: inline-block;
  cursor: pointer;
  z-index: 10;
}
.case-studies-wrapper,
.learning,
.page-content {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
}
.case-studies-wrapper {
  flex-direction: row;
  justify-content: flex-end;
  color: var(--color-white);
}
.learning,
.page-content {
  flex-direction: column;
  justify-content: flex-start;
}
.learning {
  gap: var(--gap-5xs-3);
  color: var(--color-black);
}
.page-content {
  gap: var(--gap-9xs-2);
}
.tools6 {
  text-decoration: none;
  height: 32.9px;
  width: 175.6px;
  position: relative;
  color: inherit;
  display: inline-block;
  flex-shrink: 0;
  z-index: 10;
}
.links {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
}
.vector-icon10 {
  height: 12.5px;
  width: 18.9px;
  position: absolute;
  margin: 0 !important;
  top: 9.4px;
  left: 16.2px;
  z-index: 7;
}
.games6 {
  text-decoration: none;
  height: 32.9px;
  width: 175.6px;
  position: relative;
  color: inherit;
  display: inline-block;
  flex-shrink: 0;
  cursor: pointer;
  z-index: 10;
}
.game-link,
.links1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.game-link {
  flex: 1;
  justify-content: flex-end;
}
.links1 {
  align-self: stretch;
  justify-content: flex-start;
  position: relative;
}
.community6 {
  text-decoration: none;
  height: 32.9px;
  width: 170.6px;
  position: relative;
  color: inherit;
  display: inline-block;
  flex-shrink: 0;
  z-index: 10;
}
.links2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-8xs) var(--padding-6xs-5);
}
.settings6 {
  height: 32.9px;
  width: 168.6px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  z-index: 10;
}
.links3,
.menu {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
}
.links3 {
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 var(--padding-8xs);
}
.menu {
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-smi-1);
}
.log-out6 {
  height: 32.9px;
  width: 175.6px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  z-index: 10;
}
.sign-out-squre-icon6 {
  height: 24px;
  width: 24px;
  position: absolute;
  margin: 0 !important;
  top: 4.4px;
  left: 12.7px;
  z-index: 10;
}
.user-actions1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  position: relative;
}
.finverse-logo-item {
  height: 768px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  z-index: 9;
}
.verse2 {
  color: var(--color-springgreen);
}
.finverse6 {
  text-decoration: none;
  height: 42.1px;
  width: 184.4px;
  position: absolute;
  margin: 0 !important;
  top: 22.9px;
  right: 0.1px;
  line-height: 42.1px;
  font-weight: 500;
  display: inline-block;
  z-index: 10;
  color: inherit;
}
.finverse-logo1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100%;
}
.vector-icon11 {
  position: absolute;
  top: 310.9px;
  left: 27.7px;
  width: 18.9px;
  height: 12.5px;
  z-index: 10;
}
.vector-icon12,
.vector-icon13 {
  position: absolute;
  top: 122.2px;
  left: 27.1px;
  width: 19.5px;
  height: 19.5px;
  z-index: 10;
}
.vector-icon13 {
  top: 219.5px;
  left: 28.2px;
  width: 16.5px;
}
.vector-icon14,
.vector-icon15 {
  position: absolute;
  top: 355.9px;
  left: 29.2px;
  width: 20px;
  height: 20px;
  z-index: 10;
}
.vector-icon15 {
  top: 402.8px;
  left: 30.6px;
  width: 20.1px;
}
.mditools-icon2,
.vector-icon16 {
  position: absolute;
  top: 311.8px;
  left: 28.7px;
  width: 20px;
  height: 14px;
  z-index: 11;
}
.mditools-icon2 {
  top: 261px;
  left: 27.2px;
  width: 24px;
  height: 24px;
  overflow: hidden;
  z-index: 10;
}
.screenshot-2024-05-04-at-3452 {
  position: absolute;
  top: 25px;
  left: 10.9px;
  border-radius: var(--br-191xl);
  width: 39.8px;
  height: 40px;
  object-fit: contain;
  z-index: 11;
}
.finverse-banner {
  width: 219.3px;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  font-size: var(--font-size-11xl);
}
.content1 {
  width: 230.8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-98xl-8) 0 var(--padding-3xl-5) var(--padding-2xs);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-261xl-8);
  color: var(--color-white);
}
.analysis,
.l2-income {
  margin: 0;
}
.l2-income-analysis-container {
  height: 9px;
  width: 128px;
  position: absolute;
  margin: 0 !important;
  bottom: 6px;
  left: -102.5px;
  display: inline-block;
  z-index: 1;
}
.treasure-chest-1-2 {
  height: 140px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  z-index: 3;
}
.income-analysis-banner {
  width: 134px;
  margin: 0 !important;
  position: absolute;
  top: 247.9px;
  left: 443.5px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: center;
  font-size: var(--font-size-mini);
}
.group-icon {
  height: 147.4px;
  width: 147.4px;
  position: absolute;
  margin: 0 !important;
  top: 249.5px;
  right: -6.1px;
  object-fit: contain;
}
.children1 {
  text-decoration: none;
  align-self: stretch;
  height: 30px;
  position: relative;
  font-weight: 500;
  color: inherit;
  display: inline-block;
  flex-shrink: 0;
}
.children-wrapper {
  width: 84.1px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs-7) 0 0;
  box-sizing: border-box;
}
.teenagers1 {
  text-decoration: none;
  align-self: stretch;
  height: 30px;
  position: relative;
  font-weight: 600;
  color: inherit;
  display: inline-block;
  flex-shrink: 0;
}
.teenagers-wrapper {
  width: 115.7px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs-4) var(--padding-5xs) 0 0;
  box-sizing: border-box;
}
.adults1,
.senior-citizens1 {
  height: 30px;
  position: relative;
  font-weight: 500;
  display: inline-block;
}
.adults1 {
  width: 89.3px;
  flex-shrink: 0;
}
.senior-citizens1 {
  margin-bottom: -1.9px;
  flex: 1;
  z-index: 1;
}
.senior-citizens-container {
  align-self: stretch;
  height: 28.1px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
}
.line-div {
  width: 109px;
  height: 4px;
  position: relative;
  border-top: 4px solid var(--color-black);
  box-sizing: border-box;
  z-index: 2;
}
.senior-citizens-container-parent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 153px;
}
.frame-parent2,
.search-field-inner {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-parent2 {
  flex: 1;
  flex-wrap: wrap;
  row-gap: 20px;
}
.search-field-inner {
  width: 597.6px;
  padding: 0 36px;
  box-sizing: border-box;
}
.challenge,
.pre-learning {
  margin: 0;
}
.pre-learning-challenge {
  align-self: stretch;
  position: relative;
  z-index: 2;
}
.prelearning-challenge-content {
  width: 257.1px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10.4px 0 0;
  box-sizing: border-box;
}
.progress-indicators-child {
  height: 70.5px;
  width: 341.7px;
  position: relative;
  border-radius: var(--br-xl);
  background-color: var(--color-black);
  flex-shrink: 0;
  display: none;
  max-width: 100%;
}
.progress-bars,
.progress-bars1,
.progress-bars2,
.progress-bars3,
.progress-bars4,
.progress-bars5,
.progress-bars6,
.progress-bars7,
.progress-bars8,
.progress-bars9 {
  align-self: stretch;
  width: 7.4px;
  position: relative;
  border-radius: var(--br-xl);
  background-color: var(--color-darkslateblue);
  flex-shrink: 0;
  z-index: 1;
}
.progress-bars4,
.progress-bars5,
.progress-bars6,
.progress-bars7,
.progress-bars8,
.progress-bars9 {
  background-color: var(--color-gainsboro);
}
.angle-left {
  height: 25px;
  width: 25px;
  position: relative;
  background-color: transparent;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.progress-indicators {
  border-radius: var(--br-xl);
  background-color: var(--color-black);
  overflow-x: auto;
  padding: 7.3px var(--padding-13xl) 11.1px 133px;
  box-sizing: border-box;
  gap: var(--gap-xs-4);
  margin-left: -200.6px;
}
.prelearning-challenge-containe,
.progress-indicators {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.prelearning-challenge-containe-wrapper {
  width: 728.9px;
  height: 70.5px;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
  text-align: center;
  font-size: var(--font-size-mini);
  color: var(--color-whitesmoke-100);
}
.prelearning-challenge-containe-wrapper,
.search-field,
.search-input {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.search-field {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-12xs);
  gap: 20.7px;
}
.search-input {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 var(--padding-xl) 4.6px 0;
  text-align: left;
  font-size: var(--font-size-sm);
}
.module-icons-child,
.vector-icon17 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.vector-icon17 {
  top: 27.8px;
  left: 27.5px;
  width: 19px;
  height: 18px;
  z-index: 1;
}
.module-icons {
  height: 73.6px;
  width: 73.8px;
  position: relative;
}
.module-icons-item,
.vector-icon18 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.vector-icon18 {
  top: 27.8px;
  left: 27.7px;
  width: 19px;
  height: 18px;
  z-index: 1;
}
.module-icons1 {
  height: 73.6px;
  width: 73.8px;
  position: relative;
}
.module-header {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 0 0 21px;
  gap: var(--gap-xl);
}
.l1-basics-of {
  margin: 0;
}
.l1-basics-of-container {
  width: 116px;
  height: 43px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  debug_commit: 69da668;
  z-index: 11;
}
.vector-icon19 {
  height: 11.6px;
  width: 15.5px;
  position: relative;
}
.min {
  position: relative;
  line-height: 7.7px;
}
.duration-icons {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-7xs-2);
}
.vector-icon20 {
  height: 11.6px;
  width: 15.5px;
  position: relative;
}
.min1 {
  position: relative;
  line-height: 7.7px;
}
.duration-icons1,
.trading-duration-icons {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-7xs-2);
}
.trading-duration-icons {
  flex: 1;
  justify-content: space-between;
  padding: 0 var(--padding-12xs) 0 0;
  flex-shrink: 0;
  debug_commit: 69da668;
  gap: var(--gap-xl);
}
.basics-of-trading,
.trading-duration {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.trading-duration {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-8xl);
  font-size: var(--font-size-xs);
}
.basics-of-trading {
  flex: 1;
  flex-direction: column;
  gap: 2.6px;
}
.module-content1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 6px 0 0;
}
.learning-module {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 23px;
}
.learning-modules {
  width: 207.8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-10xs-3);
  box-sizing: border-box;
}
.escape-room,
.level-1 {
  margin: 0;
}
.level-1-escape-container {
  position: relative;
  z-index: 2;
}
.escape-room-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-12xs);
}
.blank-line {
  margin: 0;
}
.escape-room-description-container {
  align-self: stretch;
  height: 53px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  margin-top: -44.5px;
}
.escape-room-container {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}
.escape-room-container-wrapper {
  width: 119.2px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 2.1px;
  box-sizing: border-box;
}
.case-study-1-icon {
  height: 69px;
  width: 77px;
  position: relative;
  object-fit: contain;
}
.case-study-details-child,
.vector-icon21 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.vector-icon21 {
  top: 28.6px;
  left: 31.3px;
  width: 15px;
  height: 16px;
  z-index: 1;
}
.case-study-details {
  height: 73.6px;
  flex: 1;
  position: relative;
}
.case-study-container,
.case-study-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.case-study-content {
  flex: 1;
  gap: 27.7px;
}
.case-study-container {
  align-self: stretch;
  padding: 0 30px 0 var(--padding-xl);
}
.explore-related-case {
  margin: 0;
}
.explore-related-case-container {
  position: relative;
  z-index: 4;
}
.explore-case-study-link {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
}
.l7-basics-of {
  margin: 0;
}
.l7-basics-of-container {
  align-self: stretch;
  position: relative;
  z-index: 2;
}
.trading-basics-minutes-icon {
  height: 11.6px;
  width: 15.5px;
  position: relative;
}
.min2 {
  position: relative;
  line-height: 7.7px;
}
.trading-basics-duration,
.trading-basics-minutes {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.trading-basics-minutes {
  gap: var(--gap-7xs-2);
}
.trading-basics-duration {
  padding: 0 var(--padding-4xl);
  font-size: var(--font-size-xs);
}
.l7-basics-of-trading-parent {
  flex: 1;
  flex-direction: column;
  margin-left: -2.7px;
}
.case-study-container-parent,
.explore-case-study,
.l7-basics-of-trading-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.explore-case-study {
  align-self: stretch;
  flex-direction: row;
}
.case-study-container-parent {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-base-7);
  min-width: 149px;
}
.learning-content {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 11.9px;
  max-width: 100%;
}
.income-analysis-icon-child {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.income-analysis-icon-image {
  position: absolute;
  top: 28.6px;
  left: 31.5px;
  width: 15px;
  height: 16px;
  z-index: 2;
}
.income-analysis-icon {
  height: 73.6px;
  flex: 1;
  position: relative;
}
.income-analysis-content {
  width: 120.2px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-4xl);
  box-sizing: border-box;
}
.analysis1,
.l8-income {
  margin: 0;
}
.l8-income-analysis-container {
  text-decoration: none;
  height: 60.2px;
  flex: 1;
  position: relative;
  color: inherit;
  display: inline-block;
  flex-shrink: 0;
  debug_commit: 69da668;
  z-index: 1;
}
.escape-room1,
.level-2 {
  margin: 0;
}
.level-2-escape-container {
  align-self: stretch;
  height: 46px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  debug_commit: 69da668;
  z-index: 2;
}
.income-analysis-level,
.income-analysis-title {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.income-analysis-level {
  width: 119.2px;
  flex-direction: column;
  padding: 1.3px 0 0;
  box-sizing: border-box;
  margin-left: -29px;
}
.income-analysis-title {
  align-self: stretch;
  flex-direction: row;
}
.income-analysis-minutes-icon {
  height: 11.6px;
  width: 15.5px;
  position: relative;
}
.min3 {
  position: relative;
  line-height: 7.7px;
}
.income-analysis-duration,
.income-analysis-minutes {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.income-analysis-minutes {
  gap: var(--gap-7xs-2);
}
.income-analysis-duration {
  padding: 0 var(--padding-8xl);
  margin-top: -14.6px;
  font-size: var(--font-size-xs);
}
.income-analysis-content-parent,
.income-analysis-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.income-analysis-details {
  align-self: stretch;
  height: 60.2px;
}
.income-analysis-content-parent {
  width: 218.2px;
  gap: 14.8px;
  min-width: 218.2px;
  margin-left: -5.4px;
}
.learning-content-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-2xs);
  box-sizing: border-box;
  max-width: 100%;
  row-gap: 20px;
}
.chatbot-3-icon,
.frame-child5,
.frame-child6 {
  position: absolute;
  margin: 0 !important;
  object-fit: contain;
}
.chatbot-3-icon {
  height: 49px;
  width: 49px;
  right: 17.8px;
  bottom: -13.7px;
}
.frame-child5,
.frame-child6 {
  height: 147.4px;
  width: 147.4px;
}
.frame-child5 {
  top: -31.8px;
  left: 223.9px;
}
.frame-child6 {
  top: -34.6px;
  right: -14.1px;
}
.escape-room2,
.level-3 {
  margin: 0;
}
.level-3-escape-container {
  position: absolute;
  top: 102.6px;
  left: 217.4px;
  display: inline-block;
  width: 119.2px;
  height: 46px;
  z-index: 2;
}
.frame-child7,
.vector-icon22 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.vector-icon22 {
  top: 28.7px;
  left: 31.7px;
  width: 15px;
  height: 16px;
  z-index: 2;
}
.frame-parent3 {
  height: 73.6px;
  flex: 1;
  position: relative;
}
.chatbot-details-inner {
  width: 121.9px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 24px;
  box-sizing: border-box;
}
.analysis2,
.l8-income1 {
  margin: 0;
}
.l8-income-analysis-container1 {
  text-decoration: none;
  height: 60.2px;
  flex: 1;
  position: relative;
  color: inherit;
  display: inline-block;
  flex-shrink: 0;
  debug_commit: 69da668;
  z-index: 1;
}
.escape-room3,
.level-4 {
  margin: 0;
}
.level-4-escape-container {
  align-self: stretch;
  height: 46px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  debug_commit: 69da668;
  z-index: 2;
}
.l8-income-analysis-parent,
.level-4-escape-room-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.level-4-escape-room-wrapper {
  width: 119.2px;
  flex-direction: column;
  padding: var(--padding-9xs-6) 0 0;
  box-sizing: border-box;
  margin-left: -30.1px;
}
.l8-income-analysis-parent {
  align-self: stretch;
  flex-direction: row;
}
.vector-icon23 {
  height: 11.6px;
  width: 15.5px;
  position: relative;
}
.min4 {
  position: relative;
  line-height: 7.7px;
}
.vector-group {
  flex-direction: row;
  gap: var(--gap-7xs-2);
}
.chatbot-details,
.frame-parent4,
.frame-wrapper2,
.vector-group {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-wrapper2 {
  flex-direction: row;
  padding: 0 33px;
  margin-top: -11.9px;
  font-size: var(--font-size-xs);
}
.chatbot-details,
.frame-parent4 {
  flex-direction: column;
}
.frame-parent4 {
  align-self: stretch;
}
.chatbot-details {
  position: absolute;
  top: 2.3px;
  left: 575.8px;
  width: 217.1px;
  gap: 26.9px;
}
.frame-child8 {
  height: 71.3px;
  width: 72.6px;
  position: relative;
  object-fit: contain;
}
.frame-child9,
.vector-icon24 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.vector-icon24 {
  top: 28.7px;
  left: 30.5px;
  width: 15px;
  height: 16px;
  z-index: 1;
}
.frame-parent7 {
  align-self: stretch;
  height: 73.6px;
  position: relative;
}
.frame-parent6,
.frame-wrapper3,
.frame-wrapper4 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-wrapper4 {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-10xs-3) 0 0;
}
.frame-parent6,
.frame-wrapper3 {
  flex-direction: row;
}
.frame-parent6 {
  flex: 1;
  gap: var(--gap-10xl-9);
}
.frame-wrapper3 {
  align-self: stretch;
  padding: 0 var(--padding-12xl) 0 var(--padding-7xl);
}
.explore-related-case1 {
  margin: 0;
}
.explore-related-case-container1 {
  position: relative;
  z-index: 1;
}
.l7-basics-of1 {
  margin: 0;
}
.l7-basics-of-container1 {
  align-self: stretch;
  flex: 1;
  position: relative;
  z-index: 2;
}
.vector-icon25 {
  height: 11.6px;
  width: 15.5px;
  position: relative;
}
.min5 {
  position: relative;
  line-height: 7.7px;
}
.frame-wrapper6,
.vector-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.vector-container {
  gap: var(--gap-7xs-2);
}
.frame-wrapper6 {
  padding: 0 22px;
  font-size: var(--font-size-xs);
}
.frame-wrapper5,
.l7-basics-of-trading-group {
  align-self: stretch;
  flex: 1;
  flex-direction: column;
}
.l7-basics-of-trading-group {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 5.6px;
}
.frame-wrapper5 {
  padding: 5.5px 0 0;
}
.explore-related-case-study-parent,
.frame-parent5,
.frame-wrapper5 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.explore-related-case-study-parent {
  align-self: stretch;
  height: 61.2px;
  flex-direction: row;
  gap: 2.2px;
}
.frame-parent5 {
  position: absolute;
  top: 0;
  left: 349px;
  width: 234.2px;
  flex-direction: column;
  gap: 25.9px;
}
.trading-icons-content-child {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.trading-icons-images {
  position: absolute;
  top: 29px;
  left: 30.1px;
  width: 15px;
  height: 16px;
  z-index: 1;
}
.trading-icons-content {
  height: 73.6px;
  width: 73.8px;
  position: relative;
}
.trading-icons-content-item,
.vector-icon26 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.vector-icon26 {
  top: 29px;
  left: 31.3px;
  width: 15px;
  height: 16px;
  z-index: 1;
}
.trading-icons-content1 {
  height: 73.6px;
  width: 73.8px;
  position: relative;
}
.trading-content,
.trading-icons {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.trading-icons {
  flex: 1;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.trading-content {
  width: 222.1px;
  justify-content: flex-start;
  padding: 0 var(--padding-smi);
  box-sizing: border-box;
}
.l7-basics-of2 {
  margin: 0;
}
.l7-basics-of-container2 {
  align-self: stretch;
  flex: 1;
  position: relative;
  z-index: 2;
}
.trading-basics-minutes-image {
  height: 11.6px;
  width: 15.5px;
  position: relative;
}
.min6 {
  position: relative;
  line-height: 7.7px;
}
.trading-basics-duration-contai,
.trading-basics-minutes-image-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.trading-basics-minutes-image-parent {
  gap: var(--gap-7xs-2);
}
.trading-basics-duration-contai {
  padding: 0 var(--padding-lgi);
  font-size: var(--font-size-xs);
}
.trading-basics,
.trading-basics-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.trading-basics-details {
  align-self: stretch;
  flex: 1;
  justify-content: flex-start;
  gap: 2.3px;
}
.trading-basics {
  height: 54.4px;
  width: 116px;
  justify-content: flex-end;
  padding: 0 0 var(--padding-11xs);
  box-sizing: border-box;
}
.analysis3,
.l8-income2 {
  margin: 0;
}
.l8-income-analysis-container2 {
  align-self: stretch;
  height: 60.2px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.trading-income-analysis-minute1 {
  height: 11.6px;
  width: 15.5px;
  position: relative;
}
.min7 {
  position: relative;
  line-height: 7.7px;
}
.trading-income-analysis-detail,
.trading-income-analysis-minute {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.trading-income-analysis-minute {
  gap: var(--gap-7xs-2);
}
.trading-income-analysis-detail {
  padding: 0 var(--padding-7xl);
  margin-top: -13.8px;
  font-size: var(--font-size-xs);
}
.trading-details,
.trading-income-analysis {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.trading-income-analysis {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  margin-left: -4.7px;
}
.trading-details {
  height: 60.2px;
  flex-direction: row;
  align-items: flex-end;
}
.trading-content-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 239.3px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 22.8px;
}
.chatbot-escape-room {
  align-self: stretch;
  height: 163px;
  position: relative;
}
.challenge1,
.post-learning {
  display: block;
}
.post-learning-challenge {
  margin: 0;
  align-self: stretch;
  position: relative;
  z-index: 2;
}
.postlearning-challenge-title {
  width: 257.1px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs-7) 0 0;
  box-sizing: border-box;
}
.postlearning-challenge-progres-child {
  height: 70.5px;
  width: 341.7px;
  position: relative;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-xl);
  background-color: var(--color-black);
  flex-shrink: 0;
  display: none;
  max-width: 100%;
}
.postlearning-challenge-progres1,
.postlearning-challenge-progres10,
.postlearning-challenge-progres2,
.postlearning-challenge-progres3,
.postlearning-challenge-progres4,
.postlearning-challenge-progres5,
.postlearning-challenge-progres6,
.postlearning-challenge-progres7,
.postlearning-challenge-progres8,
.postlearning-challenge-progres9 {
  align-self: stretch;
  width: 7.4px;
  position: relative;
  border-radius: var(--br-xl);
  background-color: var(--color-gainsboro);
  flex-shrink: 0;
  z-index: 1;
}
.postlearning-challenge-progres {
  align-self: stretch;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-xl);
  background-color: var(--color-black);
  overflow-x: auto;
  justify-content: flex-start;
  padding: 8.8px var(--padding-20xl) 9.6px 126px;
  box-sizing: border-box;
  gap: var(--gap-xs-4);
  margin-left: -191px;
}
.postlearning-challenge,
.postlearning-challenge-content,
.postlearning-challenge-progres {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.postlearning-challenge-content {
  align-self: stretch;
  justify-content: flex-start;
}
.postlearning-challenge {
  width: 699.8px;
  height: 70.5px;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  color: var(--color-white);
}
.chatbot-3-parent,
.chatbot-content,
.search-bar {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.chatbot-content {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-10xl-9);
}
.chatbot-3-parent,
.search-bar {
  align-self: stretch;
}
.chatbot-3-parent {
  flex-direction: row;
  align-items: flex-start;
  padding: 0 0 0 var(--padding-2xs);
  box-sizing: border-box;
  position: relative;
}
.search-bar {
  flex-direction: column;
  align-items: flex-end;
  gap: 38px;
}
.module5,
.search-bar-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  color: var(--color-black);
  font-family: var(--font-poppins);
}
.search-bar-wrapper {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-mini) 0 0;
  max-width: calc(100% - 215px);
  margin-left: -15.7px;
  text-align: center;
  font-size: var(--font-size-mini);
}
.module5 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: row;
  padding: 0 var(--padding-8xs) 0 0;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--font-size-xl);
}
@media screen and (max-width: 750px) {
  .finverse3,
  .finverse4,
  .finverse5,
  .finverse6 {
    font-size: var(--font-size-5xl);
  }
}
@media screen and (max-width: 675px) {
  .content1 {
    display: none;
    padding-top: var(--padding-58xl);
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
  .learning-content {
    flex-wrap: wrap;
  }
  .income-analysis-content-parent {
    flex: 1;
    margin-left: 0;
  }
  .learning-content-parent {
    flex-wrap: wrap;
  }
  .search-bar-wrapper {
    max-width: 100%;
  }
  .module5 {
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .case-studies4,
  .courses3,
  .home4,
  .tools3 {
    font-size: var(--font-size-base);
  }
  .finverse3 {
    font-size: var(--font-size-lg);
  }
  .case-studies5,
  .community3,
  .courses4,
  .games3,
  .home5,
  .log-out3,
  .profile1,
  .settings3,
  .tools4 {
    font-size: var(--font-size-base);
  }
  .finverse4 {
    font-size: var(--font-size-lg);
  }
  .case-studies6,
  .community4,
  .courses5,
  .games4,
  .home6,
  .log-out4,
  .settings4,
  .tools5 {
    font-size: var(--font-size-base);
  }
  .finverse5 {
    font-size: var(--font-size-lg);
  }
  .case-studies7,
  .community5,
  .community6,
  .courses6,
  .games5,
  .games6,
  .home7,
  .log-out5,
  .log-out6,
  .profile2,
  .settings5,
  .settings6,
  .tools6 {
    font-size: var(--font-size-base);
  }
  .finverse6 {
    font-size: var(--font-size-lg);
  }
  .progress-indicators {
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
  .learning-content {
    min-width: 100%;
  }
  .postlearning-challenge-progres {
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
  .search-bar {
    gap: 19px;
  }
}
